body{
    background-color: rgba(14,17,24,255);
}

.align {
    text-align: center;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
}

button {
    margin: 20px 0 10px 0;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: rgba(39,39,49,255);
    color: white;
}



#printArea {
    padding: 20px;
    align-items: center;
    color: white;
    word-wrap: break-word;
    
}

#ExtEmailDiv{
    border: 3px solid rgb(166, 235, 64);
    width: 50%;
    text-align: center;
    margin: 20px 0 0 25%;
    background-color: rgba(39,39,49,255);
}

textarea {
    background-color: rgba(39,39,49,255);
    border-radius: 3px;
    width: 50%;
    color: white;
}